*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


a{
    text-decoration:none;
    padding:0;
    margin:0;
    color:#d1d1d1;
    color:red;
}   

.link-dark{
    cursor:pointer;
    color:black; 
}